/*
Theme Name: Simple SEO
Template Theme URI:
Author:
Description: SEO optimized theme with simple visual style
Version: 1.0
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: white, light, custom-sidebar, custom-footer, theraded-comments
Text Domain: simpleseo

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
body{ background-color: #f6f6f6; font-family: sans-serif; }
.container { width: 80%; margin: auto; border: 1px solid #e1e1e1; padding: 0px 15px; background-color: #ffffff; }
.container{ padding:15px; }
a { color:#0645ad !important; }
.post_content{ width: 75%; float: left; }
.widgets_bar{ width: 20%; float: right; }
.d-table{ display: table; }
ul.main-nav{ padding: 15px; }
ul#menu-principal{ padding: 0px; }
.menu-item{ display: inline-block; padding: 5px !important; }
.site-name{ font-size: 30px; margin: 0px; }
.site-description{ font-size: 18px; margin-top: 0px; }
img { max-width: 100%; height: auto; }
.no-found{ text-align: center; font-size: 34px; }
a[class*='tag-']{ font-size: 16px !important; }
#comment{ width: 100%; }
footer{ margin: 15px 0px; }
.wp-caption{ width:100% !important; }
.menu-item { padding: 2px 0px; }
.navbar { background-color: #f6f6f6; border: 1px solid #e1e1e1; margin-bottom: 15px; }
.fb_button{ display: table-cell; }
.tw_button{ display: table-cell; padding-left: 7px; }
.gplus_button{ display: table-cell; padding-left: 9px; }
.fb_button > iframe, iframe[id^="twitter-widget"]{ max-height: 20px; }

@media (max-width: 768px) {
    .container { width: calc(100% - 30px); }
    .post_content{ width: 100%; }
    .widgets_bar{ width: 100%; }
    .menu-item { padding: 5px 0px; display: block; margin: 5px 0px; }
	.social_share{ width: 100% !important; float: right; margin-bottom: 15px; }
	.fb_button, .tw_button, .gplus_button{ text-align: center;  width: 30% !important; display: box; float: left; }
}
